{% extends 'app-base.html' %}
{% block title %}Change Password{% endblock %}
{% block content%}
<form method="POST" action="{{url_for('change_password')}}">
    <div class="change-password-container">
        <div class="change-password">
            <h2 class="d-inline-block">Change Password</h2>
            <hr>
            {% if error %}
                    <div class="alert alert-warning" role="alert" style="margin-top: 20px;">The passwords don't match.</div>
            {% endif %}
            <p>You will be redirected to sign in upon changing your password.</p>
            <div class="input-group mb-3 narrower-input2">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="new-pass-field">New Password</span>
                </div>
                <input type="password" class="form-control" name="new password" aria-label="new password"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3 narrower-input3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="new-pass-again-field">Verify New Password</span>
                </div>
                <input type="password" class="form-control" name="new password again" aria-label="new password again"
                    aria-describedby="basic-addon1">
            </div>
            <div class="float-right" role="group" aria-label="confirm">
                <button type="submit" class="btn  btn-secondary">Confirm</button>
            </div>
            <div class="float-right butt" role="group" aria-label="confirm">
                <a type="button" href="{{url_for('account')}}" class="btn  btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
</form>
<style>
    .change-password-container {
        border: 1px solid #ccc;
        padding: 20px;
        margin: 20px auto;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 70%;
        width: 100%;
        text-align: left;
        overflow: auto;
    }

    .change-password-container h2 {
        font-size: 24px;
        margin-top: 0;
    }

    .change-password-container hr {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .change-password-container p {
        margin: 10px 0;
    }

    .change-password-container strong {
        font-weight: bold;
        margin-right: 10px;
    }

    .narrower-input1 {
        width: 30%;
    }

    .narrower-input2 {
        margin-top: 40px;
        width: 32%;
    }      

    .narrower-input3 {
        width: 40%;
    }

    .butt {
        margin-right: 10px;
    }

    main {
        max-width: initial;
        margin: 0;
    }

    body {
        display: initial;
    }
</style>
{% endblock %}