{% extends 'base.html' %}
{% block title %} Our Hotel Chains {% endblock %}
{% block leftNavItems %}{% endblock %}
<li class="nav-item">
    <a class="nav-link" href="{{url_for('index')}}">Our Hotel Chains</a>
</li>
{% block rightNavItems %}
<li class="nav-item">
    <a class="nav-link" href="{{url_for('sign_in')}}">Sign In</a>
</li>
{% endblock %}
{% block content%}
    <section>
        <div style="border: 1px; width: auto; margin: auto"></div>
            {% for chain in chains %}
                <div style="padding: 10px; background-color: #eeeeee; margin: 20px">
                    <h3>{{chain[1]['stringValue']}}</h3>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
