{% extends 'base.html' %}
{% block title %} Our Hotel Chains {% endblock %}
{% block caption %} See Our Hotel Chains {% endblock %}
{% block navItems %}
    <li><a href="{{url_for('index')}}">Our Hotels Chains</a></li>
    <li><a href="{{url_for('sign_in')}}">Sign In</a></li>
{% endblock %}
{% block content%}
    <section>
        <div style="border: 1px; width: auto; margin: auto"></div>
            {% for chain in chains %}
                <div style="padding: 10px; background-color: #eeeeee; margin: 20px">
                    <h3>{{chain[1]['stringValue']}}</h3>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
