{% extends 'app-base.html' %}
{% block title %}My Bookings{% endblock %}
{% block content%}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Hotel</th>
                <th>Booking Date</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>No. of Persons</th>
                <th>Booking ID</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td>{{booking[0]['stringValue']}}</td> <!-- hotel name -->
                <td>{{booking[1]['stringValue']}}</td> <!-- booking date -->
                <td>{{booking[2]['stringValue']}}</td> <!-- start date-->
                <td>{{booking[3]['stringValue']}}</td> <!-- end date -->
                <td>{{booking[4]['longValue']}}</td> <!-- no of peeople  -->
                <td>{{booking[5]['longValue']}}</td> <!-- booking id -->
                {% set status = booking[6]['stringValue'] %}
                {% if status == 'Archived' %}
                <td><span class="badge badge-pill badge-secondary">Archived</span></td>
                <td><button type="submit" class="btn btn-dark" role="button" disabled>Cancel Booking</button></td>
                {% elif status == 'Not rented yet' %}
                <td><span class="badge badge-pill badge-primary">Booked</span></td>
                <td><button type="submit" class="btn btn-dark" role="button">Cancel Booking</button></td>
                {% elif status == 'Cancelled' %}
                <td><span class="badge badge-pill badge-danger">Cancelled</span></td>
                <td><button type="submit" class="btn btn-dark" drole="button" disabled>Cancel Booking</button></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<style>
    .container {
        max-width: fit-content;
        padding: 2%;
    }

    .table {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .table th,
    .table td {
        padding: 12px 30px;
        text-align: left;
        vertical-align: middle;
    }

    .table th {
        background-color: #f5f5f5;
        font-weight: bold;
        border-top: 0;
    }

    main {
        max-width: initial;
        margin: 0;
    }
</style>
{% endblock %}