{% extends 'emp-base.html' %}
{% block title %}Admin Console{% endblock %}
{% block content%}
<div class="container">
    <table class="table">
        <h2>Available Rooms</h2>
        <thead>
            <tr>
                <th>Room Number</th>
                <th>Extension</th>
                <th>View</th>
                <th>Capacitiy</th>
                <th>Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for rooms in rooms %}
            <tr>
                <td>{{rooms[0]['longValue']}}</td> <!-- room no -->
                <td>{{rooms[1]['stringValue']}}</td> <!-- extension (y/n) -->
                <td>{{rooms[2]['stringValue']}}</td> <!-- view-->
                <td>{{rooms[3]['longValue']}}</td> <!-- capacity -->
                <td>{{rooms[4]['longValue']}}</td> <!-- price  -->
                {% set status = rooms[5]['stringValue'] %}
                {% if status == 'Occupied' %}
                <td><span class="badge badge-pill badge-danger">{{status}}</span></td>
                {% elif status == 'Available' %}
                <td><span class="badge badge-pill badge-primary">{{status}}</span></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<style>
    .container {
        max-width: fit-content;
        padding: 2%;
    }

    .table {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .table th,
    .table td {
        padding: 12px 30px;
        text-align: left;
        vertical-align: middle;
    }

    .table th {
        background-color: #f5f5f5;
        font-weight: bold;
        border-top: 0;
    }

    h2 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    main {
        max-width: initial;
        margin: 0;
    }

    body {
        display: initial;
    }
</style>
{% endblock %}