{% extends 'emp-base.html' %}
{% block title %}Admin Console{% endblock %}
{% block content%}


<h2 style="color:green;">Rent confirmed!</h2>

<div class="info-container">

    <h3 class="d-inline-block">Rent information</h2>
    <br>
    <br>
    <table style="outline-style:none;">
        <tr>
            <td><strong>Rent #:</strong></td>
            <td> {{ rent['rt_no'] }} </td>
        </tr>
        <tr>
            <td><strong>Start date:</strong></td>
            <td> {{ rent['rt_start_date'] }} </td>
        </tr>
        <tr>
            <td><strong>End date:</strong></td>
            <td> {{ rent['rt_end_date'] }} </td>
        </tr>
        <tr>
            <td><strong># of persons:</strong></td>
            <td> {{ rent['rt_no_of_persons'] }} </td>
        </tr>
        <tr>
            <td><strong>Status:</strong></td>
            <td> {{ rent['rt_status'] }} </td>
        </tr>
        <tr>
            <td><strong>Checkin employee ID:</strong></td>
            <td> {{ rent['id'] }} </td>
        </tr>
        <tr>
            <td><strong>Customer ID:</strong></td>
            <td> {{ rent['rt_cust_ID'] }} </td>
        </tr>
        <tr>
            <td><strong>Room Info:</strong></td>
            <td> {{ rent['rt_room_info_no'] }} </td>
        </tr>
        <tr>
            <td><strong>Room #:</strong></td>
            <td> {{ rent['rt_room_no'] }} </td>
        </tr>
    </table>

    <div class="btn-group float-right" role="group" aria-label="Basic example">
        <p style="color:green;margin-right:30px;"> {{ message }} </p>
        <a type="button" href="{{url_for('display_employee_homepage')}}" class="btn btn-dark">Back to homepage</a>
    </div>
</div>
<style>
    .info-container {
        border: 1px solid #ccc;
        padding: 20px;
        margin: 20px auto;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 70%;
        width: 100%;
        text-align: left;
        overflow: auto;
    }

    .info-container h2 {
        font-size: 24px;
        margin-top: 0;
    }

    .info-container hr {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .info-container p {
        margin: 10px 0;
    }

    .info-container strong {
        font-weight: bold;
        margin-right: 10px;
    }

    main {
        max-width: initial;
        margin: 0;
    }
</style>

{% endblock %}