{% extends 'emp-base.html' %}
{% block title %}Admin Console{% endblock %}
{% block content%}
<div class="container">
    <table class="table">
        <h2>Available Rooms</h2>
        <thead>
            <tr>
                <th>Room Number</th>
                <th>Extension</th>
                <th>View</th>
                <th>Capacitiy</th>
                <th>Price</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
            <form method="POST" action="{{url_for('view_edit_room')}}">
                <tr>
                    <input type="hidden" name="room info no" value="{{room[0]['longValue']}}">
                    <td>{{room[1]['longValue']}}</td> <!-- room no -->
                    <input type="hidden" name="room no" value="{{room[1]['longValue']}}">
                    <td>{{room[2]['stringValue']}}</td> <!-- extension (y/n) -->
                    <input type="hidden" name="extension" value="{{room[2]['stringValue']}}">
                    <td>{{room[3]['stringValue']}}</td> <!-- view-->
                    <input type="hidden" name="view" value="{{room[3]['stringValue']}}">
                    <td>{{room[4]['longValue']}}</td> <!-- capacity -->
                    <input type="hidden" name="capacity" value="{{room[4]['longValue']}}">
                    <td>{{room[5]['longValue']}}</td> <!-- price  -->
                    <input type="hidden" name="price" value="{{room[5]['longValue']}}">
                    {% set status = room[6]['stringValue'] %}
                    {% if status == 'Occupied' %}
                    <td><span class="badge badge-pill badge-danger">{{status}}</span></td>
                    {% elif status == 'Available' %}
                    <td><span class="badge badge-pill badge-primary">{{status}}</span></td>
                    {% endif %}
                    <input type="hidden" name="status" value="{{status}}">
                    <td><button type="submit" class="btn btn-dark" role="button">Edit</button></td>
                </tr>
            </form>
            {% endfor %}
        </tbody>
    </table>
</div>
<style>
    .container {
        max-width: fit-content;
        padding: 2%;
    }

    .table {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .table th,
    .table td {
        padding: 12px 30px;
        text-align: left;
        vertical-align: middle;
    }

    .table th {
        background-color: #f5f5f5;
        font-weight: bold;
        border-top: 0;
    }

    h2 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    main {
        max-width: initial;
        margin: 0;
    }

    body {
        display: initial;
    }
</style>
{% endblock %}