{% extends 'emp-base.html' %}
{% block title %}Admin Console{% endblock %}
{% block content%}
<span style="text-align: center;">
    <h2 style="margin-top: 30vh">Customer Check-in</h2>
    <br>
    <form method="POST" action="{{url_for('emp_search_booking')}}">
        <input type="text" id="booking_no" name="booking_no" placeholder="Enter the booking number" style="width: 50vw" required>
        <button type="submit" value="Search">Search</button>
    </form>
    <br>
    <p class="error_message"> {{ message }}</p>
</span>

<style>
    .error_message {
        color: red;
        text-align: center;
    }
</style>
{% endblock %}