{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block navItems %}
    <li><a href="#">My Account</a></li>
    <li><a href="#">Log out</a></li>
{% endblock %}

{% block caption %} Logged in as <strong>{{ user.f_name }} {{ user.l_name }}</strong> {% endblock %}
{% block content%}
    <h2>Employee Homepage</h2>
    <section>
        <div class="btn-container">
            <br>
            <a class='btn btn-dark' href="#">Customer check-in (prebooked)</a>
            <br>
            <a class='btn btn-dark' href="#">Walk-in renting</a>
            <br>
            <a class='btn btn-dark' href="#">Available Rooms</a>
        </div>
    </section>
    <style>
        .btn-container {
            padding: 10px;
        }
        .btn {
            margin: 20px;
        }
    </style>
{% endblock %}