{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block rightNavItems %}                    
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('account')}}">Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('index')}}">Log Out</a>
    </li>
{% endblock %}

{% block caption %} Logged in as <strong>{{ user.f_name }} {{ user.l_name }}</strong> {% endblock %}
{% block content%}
    <h2>Employee Homepage</h2>
    <section>
        <ul>
            <li><a class='btn btn-dark' href="#">Customer check-in (prebooked)</a></li>
            <li><a class='btn btn-dark' href="#">Walk-in renting</a></li>
            <li><a class='btn btn-dark' href="#">Available Rooms</a></li>
        </ul>
    <style>
        ul {
            list-style-type: none;
            text-align: center;
        }
        .btn {
            margin: 10px;
        }
    </style>
{% endblock %}