{% extends 'base_homepage.html' %}
{% block title %} Employee Homepage {% endblock %}


{% block myaccountlink %}
<a href="./myaccountE.html">My account</a>
{% endblock %}

{% block header %} Employee Homepage {% endblock %}

{% block content%}
    <section>
        <ul>
            <li><a href="./checkin.html">Check-in</a></li>
            <li><a href="./walkinrenting.html">Walk-in Renting</a></li>
            <li><a href="./availrooms.html">Available rooms</a></li>
        </ul>
    </section>
{% endblock %}