{% extends 'app-base.html' %}
{% block title %}Hotel Finder{% endblock %}
{% block content %}

<style>
    /* Style for the container of the horizontal scroll list */
    .container {
      width: 100%;
      overflow-x: scroll;
      white-space: nowrap;
    }

    /* Style for each item in the horizontal scroll list */
    .item {
  display: inline-block;
  width: 180px;
  height: 180px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.item-content p {
  margin: 0;
}


  </style>
<form method="post", action="/home">

    <div class="container">
        {% if available_rooms %}
                {% for room in available_rooms %}
                <div class="item">
                    <div class="item-content">
                      <p>{{ room[0]['stringValue'] }}</p>
                      <p>Available Rooms: {{ room[1]['longValue'] }}</p>
                    </div>
                  </div>
                  
                
                     
                    
                {% endfor %}
            {% else %}
                <p>error</p>
            {% endif %}
    </div>

    <br>
    <label for="location">Location:</label>
    <input type="text" id="location" name="location" placeholder="Enter a location" required>


    <label for="checkin">Check-in Date:</label>
    <input type="date" id="checkin" name="checkin" required>


    <label for="checkout">Check-out Date:</label>
    <input type="date" id="checkout" name="checkout" required>


    <label for="room capacity">Room capacity:</label>
    <input type="text" id="capacity" name="capacity" required>


    <label for="Hotel chain">Hotel chain:</label>
    <select id="chain" name="chain" required>
        <option value="HILN">Hilton Hotels</option>
        <option value="MARR">Marriott International</option>
        <option value="CHOI">Choice Hotels International</option>
        <option value="IHGN">InterContinental Hotels Group</option>
        <option value="HYAT">Hyatt Hotels Corporation</option>
    </select>
    <br>
    <label for="Hotel category">Hotel category:</label>
    <select id="category" name="category" required>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br>
    <label for=" number of rooms in the hotel"> number of rooms in the hotel:</label>
    <input type="text" id="number of rooms" name="number of rooms" required>


    <label for="price of the rooms">Price of the rooms:</label>
    <input type="text" id="Price" name="Price" required>


    <button type="submit">Search</button>
   
</form>
{% endblock %}