{% extends 'base.html' %}
{% block title %}Sign In{% endblock %}

{% block caption %}{% endblock %}
{% block content%}
		<section>
			<h2>Sign In</h2>
            <div class="auth">
                <form method="POST" action="/CustomersSignIN">
                    <label for="cIDlabel">Customers ID:</label>
                    <input type="text" id="cID" name="cID" required>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="cPassword" required>
                    <button type="submit">Sign In</button>
                </form>
            </div>
		</section>
		{% endblock %}
